body {
    font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    background: url(../images/body_bg.jpg) repeat center top;
}
.wrapper {
    width: 100%;
}
.w {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.wrapper .header {
    height: 50px;
    border: 1px solid #ccc;
}
.wrapper .content {
    overflow: hidden;
    margin: 10px 0 0 0;
}
.content .primary {
    float: left;
    width: 780px;
    margin: 0 10px 0 0;
    background: #fff;
}
.content .secondary {
    float: right;
    width: 400px;
    height: 200px;
    background: #fff;
}
